/* design for grid background */
.grid {
    width: 400px;
    height: 600px;
    background-image: url('grid.png');
    position: relative;
    font-size: 100px;
    text-align: center;
    /* align-items: center; */
    margin-left: 300px;
  }
  
  /* design for doodler */
  .doodler {
    /* doodler image width */
    width: 87px;  
    height: 85px;
    background-image: url('doodler.png');
    position: absolute;
  }
  
  /* design for platform  */
  .platform {
    width: 85px;
    height: 15px;
    background-image: url('platform.png');
    position: absolute;
    /* position->absolute is for the platform is exactly inside our grid */
  }